*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: #000;
    box-shadow: 0 0 50px #0ef;   
    border-radius: 20px;
    padding: 40px;
}

.form-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-group label {
    position: absolute;
    top: 7px;
    left: 44px;
    transform: translate(-50%);
    font-size: 20px;
    color: #fff;
    pointer-events: none;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 20px;
    color: #fff;    
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -17px;
}

.remmeber {
    margin: -5px 0 15px 5px;
}

.remmeber label {
    color: #fff;
    font-size: 16px;
}

.remmeber label input {
accent-color: #0ef;
}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    font-size: 20px;
    color:  #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;   
}

.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 14px 0;
}

.signUp-link p {
    color: #fff;
}

.signUp-link p a {
    color: #0ef;
    text-decoration: none;
    font-weight: 500;
}

.signUp-link p a:hover {
    text-decoration: underline;
}